@using News24.Web.Helpers
@model News24.Web.Areas.Admin.ViewModels.CategoryViewModels.IndexCategoryViewModel

@{
    ViewBag.Title = "Категории";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center my-3">
    <h2>@ViewBag.Title</h2>
    @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-primary" })
</div>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categories.FirstOrDefault().Name)
        </th>
        <th class="text-right">
            Действие
        </th>
    </tr>

    @foreach (var item in Model.Categories)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-right">
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
<div class="row pl-3">
    @Html.PageLinks(Model.Pager, x => Url.Action("Index", new { page = x }))
</div>